[user]
	name = ekishouTV
	email = 45916397+ekishouTV@users.noreply.github.com
[gpg]
	format = ssh
[commit]
	gpgsign = true
[filter "ignore-signingkey"]
	clean = sed \"/\\tsigningkey/d\"
[filter "ignore-tabby-background-image"]
	clean = sed \"/\\sbackground-image/d\"
