[tools]
bat = "latest"
dua = "latest"
edit = "latest"
eza = "latest"
fastfetch = "latest"
ghq = "latest"
node = "latest"
"npm:fx" = "latest"
starship = "latest"
usage = "latest"

[tasks.recreate-docker-volume]
run = """
    volume={{arg(name='volume')}}
    docker volume inspect $volume
    docker volume rm $volume
    docker volume create $volume
"""

[tasks.outdated-with-last-update-time]
alias = "olut"
run = '''
    lastUpdateTime=$(
        eza -l --time-style=full-iso --no-user --no-permissions ~/.local/share/mise/installs/ \
        | fx -rs "map(x => /-\s(.*\+\d{4})\s(.*)/.exec(x).slice(-2).reverse())" \
        | fx "Object.fromEntries" "{lastUpdateTime: x}"
    )
    apps=$(mise outdated -J | fx "values" "{'apps': x}")
    echo $apps $lastUpdateTime \
    | fx -s "Object.assign({}, ...x)" \
        "x.apps.map(app => {
          return {
            name: app.name, current: app.current, latest: app.latest, lastUpdateTime: x['lastUpdateTime'][app.name.replace(':', '-')]
          }
        }
        )" \
        "console.table" \
    2>/dev/null
'''
quiet = true

[settings]
idiomatic_version_file = false
